services:
  app:
    volumes:
      - ./php-conf.d/opcache.ini:/usr/local/etc/php/conf.d/99-opcache.ini:ro
    environment:
      - PHP_OPCACHE_MEMORY_CONSUMPTION=512  # this variable is mention in /usr/local/etc/php/conf.f/opcache-recommended.ini
    mem_limit: 6g
    mem_reservation: 4g
    cpus: "3.0"

  db:
    mem_limit: 4g
    mem_reservation: 3g
    cpus: "2.0"

  collabora:
    mem_limit: 4g
    mem_reservation: 3g
    cpus: "1.5"

  redis:
    mem_limit: 512m
    mem_reservation: 256m
    cpus: "0.5"

  appapi-daemon:
    mem_limit: 512m
    mem_reservation: 256m
    cpus: "1.0"

  nextcloud-webhook-worker:
    image: nextcloud:latest
    restart: always
    depends_on:
      - nextcloud-app
    volumes:
      - nextcloud:/var/www/html
    entrypoint: [ "php", "occ", "background-job:worker", "-v", "-t", "60", "OCA\\WebhookListeners\\BackgroundJobs\\WebhookCall" ]
    networks:
      - nextcloud-net

  nextcloud-generic-worker:
    image: nextcloud:latest
    restart: always
    depends_on:
      - nextcloud-app
    volumes:
      - nextcloud:/var/www/html
    entrypoint: [ "php", "occ", "background-job:worker", "-v", "-t", "60" ]
    networks:
      - nextcloud-net

volumes:
  nextcloud_data:
    external: true

networks:
  nextcloud-net:
    external: true
