services:
  app:
    extra_hosts:
     - "collabora.kinden.com.vn:172.16.10.129"  # point to External HAProxy
     - "onlyoffice.kinden.com.vn:172.16.10.129"
     - "cloud.kinden.com.vn:172.16.10.129"
    volumes:
      - ./php-conf.d/opcache.ini:/usr/local/etc/php/conf.d/99-opcache.ini:ro  # need to change opcache-recommended.ini to *.ini.bak
    environment:
      - PHP_OPCACHE_MEMORY_CONSUMPTION=512  # this variable is mention in /usr/local/etc/php/conf.f/opcache-recommended.ini
    mem_limit: 6g
    mem_reservation: 4g
    cpus: "3.0"

  db:
    mem_limit: 4g
    mem_reservation: 3g
    cpus: "2.0"

  collabora:
    extra_hosts:
      - "cloud.kinden.com.vn:172.16.10.129"  # point to External HAProxy
    mem_limit: 4g
    mem_reservation: 3g
    cpus: "1.5"

  redis:
    mem_limit: 512m
    mem_reservation: 256m
    cpus: "0.5"

  appapi-daemon:
    mem_limit: 512m
    mem_reservation: 256m
    cpus: "1.0"

#  imaginary:
#    mem_limit: 521m
#    mem_reservation: 256m
#    cpus: "1.0"

  internal-haproxy:
    mem_limit: 1g
    mem_reservation: 512m
    cpus: "1.0"

  clamav:
    mem_limit: 1g
    mem_reservation: 512m
    cpus: "1.0"
