services:
  db:
    image: postgres:17
    container_name: nextcloud-db
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql/data
    env_file:
      - db.env
    command: >
      postgres
      -c shared_buffers=1GB
      -c work_mem=32MB
      -c maintenance_work_mem=256MB
      -c effective_cache_size=3GB
      -c wal_buffers=16MB
      -c max_connections=500
    ports:
      - "55432:5432"
    networks:
      - nextcloud-net

  redis:
    image: redis:7
    container_name: nextcloud-redis
    restart: unless-stopped
    env_file:
      - redis.env
    command: sh -c "redis-server --requirepass $${REDIS_HOST_PASSWORD}"
    volumes:
      - redis_data:/data
    networks:
      - nextcloud-net

  app:
    image: nextcloud:31.0.10
    container_name: nextcloud-app
    restart: unless-stopped
    depends_on:
      - db
      - redis
    volumes:
      - nextcloud_data:/var/www/html
      - nextcloud_config:/var/www/html/config
      - nextcloud_custom_apps:/var/www/html/custom_apps
      - nextcloud_themes:/var/www/html/themes
      - /media/ncdata/nextcloud:/mnt/ncdata
    env_file:
      - nextcloud.env
    ports:
      - "8080:80"
    networks:
      - nextcloud-net

  collabora:
    image: collabora/code:latest
    container_name: collabora
    restart: unless-stopped
    cap_add:
      - MKNOD
    env_file:
      - collabora.env
    volumes:
      - ./collabora_config/coolwsd:/etc/coolwsd
      - ./collabora_config/fonts:/usr/share/fonts/custom
    ports:
      - "9980:9980"
    networks:
      - nextcloud-net
    profiles: ["manual-start"]

  appapi-daemon:
    image: ghcr.io/nextcloud/nextcloud-appapi-dsp:release
    container_name: nextcloud-appapi-daemon
    restart: unless-stopped
    env_file:
      - appapi-daemon.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - nextcloud-net

  netdata:
    image: netdata/netdata:latest
    container_name: netdata
    hostname: netdata-server
    ports:
      - 127.0.0.1:19999:19999
    restart: unless-stopped
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    volumes:
      # Persistent Netdata configuration and data
      - netdataconfig:/etc/netdata
      - netdatalib:/var/lib/netdata
      - netdatacache:/var/cache/netdata
      # Monitor host and Docker
      - /etc/passwd:/host/etc/passwd:ro
      - /etc/group:/host/etc/group:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - PGID=0
      - PUID=0
      - TZ=Asia/Ho_Chi_Minh
      - DOCKER_USR=root
      - DOCKER_GRP=root

  internal-haproxy:
    image: haproxy:lts
    container_name: internal-haproxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      - ./haproxy/certs/:/usr/local/etc/haproxy/certs/:ro
      - ./haproxy/errors/403_default.http:/usr/local/etc/haproxy/errors/403_default.http:ro
      - ./haproxy/errors/403_onlyoffice.http:/usr/local/etc/haproxy/errors/403_onlyoffice.http:ro
    networks:
      - nextcloud-net
    depends_on:
      - app

  clamav:
    image: clamav/clamav:stable
    container_name: clamav
    restart: unless-stopped
    ports:
      - "3310:3310"
    volumes:
      - clamav-db:/var/lib/clamav
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 3310 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - nextcloud-net

  talk:
    image: ghcr.io/nextcloud-releases/aio-talk:latest
    container_name: nextcloud-talk-hpb
    depends_on:
      - app
    env_file:
      - talk-secrets.env
    environment:
      - HOSTNAME=nextcloud-talk-hpb
      - NC_DOMAIN=cloud.kinden.com.vn
      - TZ=Asia/Bangkok
      - TALK_PORT=3478
      - TALK_HOST=nextlcoud-talk-hpb
    ports:
      - "3478:3478/udp"      # if using UDP for TURN
      - "3478:3478/tcp"
      - "8088:8081"          # or whatever HTTP port the container serves   
    networks:
      - nextcloud-net
    restart: unless-stopped

  notify:
    image: ghcr.io/nextcloud-releases/aio-notify-push:latest
    container_name: nextcloud-notify-push
    restart: unless-stopped
    depends_on:
      - app
      - db
      - redis
    user: "33"
    ports:
      - "7867:7867"
    expose:
      - "7867"
    env_file:
      - notify-push.env
    environment:
      - NC_DOMAIN=cloud.kinden.com.vn
      - NEXTCLOUD_HOST=nextcloud-app
      - TZ=Asia/Bangkok
      - REDIS_HOST=nextcloud-redis
      - POSTGRES_HOST=nextcloud-db
      - POSTGRES_PORT=5432
      - NEXTCLOUD_URL=nextcloud-app
    volumes:
      - nextcloud_data:/nextcloud:ro
      - nextcloud_custom_apps:/nextcloud/custom_apps:ro
    healthcheck:
      test: ["CMD", "/healthcheck.sh"]
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - nextcloud-net

volumes:
  db_data:
  redis_data:
  nextcloud_data:
  nextcloud_config:
  nextcloud_custom_apps:
  nextcloud_themes:
  # Netdata volumes
  netdataconfig:
  netdatalib:
  netdatacache:
  # clamav voulumes
  clamav-db:

networks:
  nextcloud-net:
    driver: bridge
